.form {
  max-width: 385px;
  margin: auto;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.form__checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #4f4f4f;
  border-radius: 2px;
  color: #2b303a;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__input {
  color: #000;
  border: 1px solid #838383;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 20px 15px;
}

.form__button {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 4px;
  font-family: "Inter", Arial, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: white;
  transition: background-color 0.5s ease-in-out;
  opacity: 1;
  padding: 20px;
  border: none;
}

.form__button:hover {
  background-color: #3f96f3;
}
